<!DOCTYPE html>
<html>
    <head th:replace="layout/plantilla :: head">
        <title>Carrito</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <section class="h-100 h-custom" style="background-color: #eee;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-4">

                                <div class="row">

                                    <div class="col-lg-16">
                                        <h5 class="mb-16">
                                            <a href="#!" class="text-body" th:href="@{/}"><i
                                                    class="fas fa-long-arrow-alt-left me-2"></i>Regresar Pagina Principal</a></h5>
                                        <hr>

                                        <div class="d-flex justify-content-between align-items-center mb-16">
                                            <div>
                                                <h1 class="mb-1">Resumen del Carrito de Compras</h1>
                                                <small class="mb-0">Su carrito contiene: [[${cantidadArticulosCarrito}]] producto </small>
                                            </div>
                                            <div>                    
                                            </div>
                                        </div>

                                        <div th:each="item : ${carritoDetalles}" class="card mb-3" >
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div>

                                                            <img src="/image/Captura1.PNG" class="card-img-top" alt="equipo"> 
                                                        </div>
                                                        <div class="ms-3">
                                                            <h5>[[${item.articulo.descripcion}]]</h5>
                                                            <p class="small mb-0">[[${item.articulo.detalle}]]</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div style="width: 50px;">
                                                            <h5 class="fw-normal mb-0 text-center btn btn-primary">[[${item.cantidad}]]</h5>
                                                        </div>
                                                        <div style="width: 80px;">
                                                            <h5 class="mb-0">[[${item.precio}]]</h5>
                                                        </div>
                                                        <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                                         </div>
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="col-lg-16">

                                            <div class="card bg-black text-white rounded-3">
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                                        <h5 class="mb-0">Resumen</h5>

                                                    </div>                                      

                                                    <hr class="my-4">

                                                    <div class="d-flex justify-content-between">
                                                        <p class="mb-2">Subtotal</p>
                                                        <p class="mb-2">[[${new java.text.DecimalFormat('#,##0.00').format(montoTotal)}]]</p>
                                                    </div>

                                                    <div class="d-flex justify-content-between">
                                                        <p class="mb-2">Shipping</p>
                                                        <p class="mb-2">[[${new java.text.DecimalFormat('#,##0.00').format(montoImpuestos)}]]</p>
                                                    </div>

                                                    <div class="d-flex justify-content-between mb-4">
                                                        <p class="mb-2">Total(Incl. taxes)</p>
                                                        <p class="mb-2">[[${new java.text.DecimalFormat('#,##0.00').format(montoTotal + montoImpuestos)}]]</p>
                                                    </div>

                                                    <button type="button" class="btn btn-black btn-warning btn-lg">
                                                        <div class="d-flex justify-content-between">
                                                            <span> Total : </span>
                                                            <span>[[${new java.text.DecimalFormat('#,##0.00').format(montoTotal + montoImpuestos)}]]</span> 

                                                        </div>
                                                    </button>

                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>


    </body>
</html>
